<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Louvre</title>
    <style>
      .clearfix:after {
      content: "";
      display: table;
      clear: both;
      }

      body {
        height: 100%;
        width: 100%;
        color: #555555;
        font-family: Arial, sans-serif;
        font-size : 12px; 
      }
     
      header {
      top: -50px;
      height: 70px;
      width:100%;
      padding: 10px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #AAAAAA;
      }

      #logo {
      display: inline-block;
      width : 50%;
      margin-top: 8px;
      }

      #logo img {
      height: 70px;
      }

      #company {
      margin-top: 8px;
      display: inline-block;
      width : 50%;
      text-align: right;
      }

      #details {
      margin-bottom: 50px;
      }

      #client {
      display: inline;
      padding-left: 6px;
      border-left: 6px solid #0087C3;
      float: left;
      }

      h2.name {
      font-size: 1.4em;
      font-weight: bold;
      margin: 0;
      }

      #invoice {
      display: inline;
      text-align: right;
      }

      table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 20px;
      }

      table th,
      table td {
      padding: 15px;
      background: #EEEEEE;
      text-align: center;
      border-bottom: 1px solid #FFFFFF;
      }

      table th {
      white-space: nowrap;        
      font-weight: 1.2em;
      }

      table .no {
      color: #FFFFFF;
      font-size: 1em;
      background: #0087C3;
      }

      table .ticketId {
      background: #DDDDDD;
      }

      table .price {
      background: #0087C3;
      color: #FFFFFF;
      }

      table td.name
      {
        width :50%;
      }

      table .discount
      {
        background: #E8E8E8;
      }

      table tbody tr:last-child td {
      border: none;
      }

      table tfoot td {
      padding: 10px 20px;
      background: #FFFFFF;
      border-bottom: none;
      color: #0087C3;
      font-size: 1.4em;
      white-space: nowrap; 
      border-top: 3px solid #0087C3; 
      }

      table tfoot tr td:first-child {
      border: none;
      }


      #notices{
      padding-left: 6px;
      border-left: 6px solid #0087C3; 
      text-align: justify; 
      }

      #notices .notice {
      font-size: 0.9em;
      }

      .notice {
      font-style: italic;
      }

      footer {
      color: #777777;
      width: 100%;
      height: 30px;
      position: absolute;
      bottom: -25px;
      height: 25px;
      border-top: 1px solid #AAAAAA;
      padding: 8px 0;
      text-align: center;
      }
    </style>
  </head>

  <body>
    <header class="clearfix">
      <div id="logo">
        <img src="{{img_url}}"> 
      </div>
      <div id="company" >
        <h2 class="name">Musée du Louvre</h2>
        <div>Rue de Rivoli,<br /> 75001, Paris</div>
      </div>
    </header>
    <main>
      <div id="details" class="clearfix">
        <div id="invoice">
          <h1>Billets d'accés au musée du Louvre</h1>
          <h3>Valable uniquement le {{listTickets[0].date|date('d/m/Y')}}</h3>
        </div>
        <div id="client">
          <div><strong>Client :</strong> {{listTickets[0].lastName}} {{listTickets[0].firstName}}</div>
          <div><strong>Email :</strong> {{buyer[0].email}}</a></div>
          <div><strong>Date de commande :</strong> {{buyer[0].orderDate.date|date('d/m/Y')}}</div>
          <div><strong>N° de commande :</strong> {{buyer[0].orderId}}</div>
        </div>

      </div>
        <table border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>

              <th scope="col" class="name">Visiteur</th>
              <th scope="col" class="price">Montant</th>
            </tr>
        </thead>
        <tbody>
            {% for valeur, option in listTickets%}
                <tr>
                    <td class="name text-center">{{listTickets[valeur].lastName}} {{listTickets[valeur].firstName}}</td>
                    <td class="price text-center">{{listTickets[valeur].value}},00 €</td>
                </tr>
            {% endfor %}
        </tbody>
        
        <tfoot>
          <tr>
            <td colspan="2"></td>
            <td colspan="2"> TOTAL</td>
            <td>{{buyer[0].amountPaid}},00 €</td>
          </tr>  
        </tfoot>
      </table>
          <div id="notices">
            <div>INFORMATION :</div>
            <br>
            <div class="notice">Ce billet est unique. Un seul exemplaire de ce billet permet d'accéder au l'enceinte de musée ouvert au public. Si un second exemplaire se présente au contrôle d'accès, le possesseur de cet exemplaire ne pourra pas entrer. Dans ce cas, le possesseur du billet et la personne ayant commandé le billet s'exposent à des poursuites judiciaires. Le billet étant nominatif, un contrôle d'identité pourra être effectué.</div>
            <br>
            <div class="notice">Le e-ticket est uniquement valable s'il est imprimé en couleur ou en noir et blanc, à 100% sur une seule face de papier A4 blanc, vierge recto verso, sans modification de la taille d'impression en format avec une imprimante jet d'encre ou laser ; aucun autre support (électronique, écran PC, écran portable) n'est accepté.</div>
            <br>
            <div class="notice">Les tickets doivent disposer d'une bonne qualité d'impression; les billets partiellement imprimés, souillés, endommagés ou illisibles ne seront pas acceptés et considérés de fait comme non valables. Ce billet n'est ni échangeable ni remboursable. Il est personnel et incessible. Lors des contrôles à l'entrée du musée, une piece d'identité officielle en cours de validité avec photo pourra vous etre demandée pour identifier l'acheteur. Ce ticket est uniquement valable pour le date et l'heure precisés. Dans les autres cas, ce billet ne sera pas valable. Le client doit conserver ce titre pendant toute la durée de sa visite.</div>
          </div>
    </main>

    <footer>
      Le louvre
    </footer>
  </body>
</html>


